.navbar1{

    background-color: rgba(76, 70, 70, 0.206);
    box-shadow: 0px 0px 10px black;
    font-family: 'Anonymous Pro', monospace;
    font-size: 25px;

    
   

    li:hover{
        width: 50%;
        background-color: rgba(0, 0, 0, 0.303);
        transition: 0.5s;
        
    }

    li > a:hover{
        color: white;
    }
    
    
}

.menu-items{
    margin: 10px;
    text-decoration: solid;
    text-shadow: 1px 1px 1px black;

    
}