@import url(./../../style.scss);

  .img_audio{
    width: 35px;
  }
  .container p{
    font-family: 'Anonymous Pro', monospace;
  }
  #playlist, #player {
    width: 90%; 
    padding: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    }
    #player {
      width: 50%;
      opacity: 0.8;
    }
    audio {
    width:80%; 
    margin:0 auto;
    display: inline-block
    }
   
    
    
    #playlist {
    margin: 0 auto 20px auto;
    display: block;
    border-top: 1px solid #fff;
    text-align: left;
    font-size: 14px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: normal;
    }
    #playlist li, #playlist ul li {
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    #playlist li a {
    color: #000; 
    padding: 7px 2px;
    display: block;
    padding-left: 10px;
    text-decoration: none;
    }
    #playlist li a:hover{
    
    text-decoration: none;
    }
    #playlist .active a {
    color: #282323; 
    font-style: Georgia;
    text-decoration: none;
    }
    #playlist .active a:before {
    
    color: #fff; 
    font-style: normal;
    padding-right: 8px;
    }
    
    .red{
      background-color: #ff00004f;
    }
    .white{
      background-color: #ffffff96;
    }