@import url(./../../style.scss);

main {
    font-family: 'Anonymous Pro', monospace;
    padding: 10%;
  }
  
  h2{
    font-weight: bold;
    
  }
  
  
  .img_audio{
    width: 35px;
  }
  #audioPlayer{
    position: relative;
    margin-left: 20%;
  }