// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url(./src/sass/header.scss);
@import url(./src/sass/footer.scss);
@import url(./src/sass/home.scss);

body{
    background-image: url("./public/assets/Background/fondo_rocksteady.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}
